@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@100;200;300;400&display=swap');
:root{
	--bg-black-900: #f2f2fc;
	--bg-black-100: #f2f9ff;
	--bg-black-50: #e8dfec;
	--text-black-900: #302e4d;
	--text-black-700: #504e70;
    --skin-color: #090a0c;
}
body.dark{
	--bg-black-900: #151515;
	--bg-black-100: #222222;
	--bg-black-50: #393939;
	--text-black-900: #ffffff;
	--text-black-700: #e9e9e9;
}
::before, ::after{
	box-sizing: border-box;
}
.section{
	background: #f2f2fc;
	/* min-height: 100vh; */
	display: block;
	padding: 0 30px;
	opacity: 1;
}
.hidden{
	display: none !important;
}
.heading span {
    background: #03a9f4;
    color: #fff;
    display: inline-block;
    padding: 0.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
    margin-bottom: 40px;
}

.section .container{
	/* max-width: 1100px; */
	width: 100%;
	/* margin: auto; */
}
.section .container{
	padding-top: 60px;
	padding-bottom: 20px;
}
.section-title{
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 10px;
}
.section-title h2{
	font-size: 40px;
	color: #fff;
	font-weight: 700;
	position: relative;
	text-transform: uppercase;
}
.cover{
	display: flex;
	flex-wrap: wrap;
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
}
.rows{
	display: flex;
	flex-wrap: wrap;
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
}
.rowss{
	display: flex;
	flex-wrap: wrap;
	margin-left: 15px;
	/* margin-right: 15px; */
	position: relative;
	justify-content: space-between;
	align-items: start;
}
.btnCon{
	font-size: 16px;
	font-weight: 500;
	padding: 12px 35px;
	color: white;
	border-radius: 40px;
	display: inline-block;
	white-space: nowrap;
	background: var(--skin-color);
	transition: all 0.3s ease;
}
.btnCon:hover{
	transform: scale(1.05);
}
.shadow-dark{
	box-shadow: 0 0 20px rgba(48, 46, 77, 0.25);
}

/* home */
.home{
	display: flex;
	color: #f2f2f2;
	background-color: #000;
	margin-top: 60px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
}

/* tabel */
.tabelBox table tr,
.tabelBox table td{
    border: solid;
    border-color: #fff;
	background-color: #f2f2fc;
}
.tabelBox table{
    border: 1px solid #fff;
    /* padding: 10px; */
    /* border-collapse: separate; */
    border: solid;
    color: #040404;
    border-collapse: collapse;
}
.tabelLabel tr, 
.tabelLabel  td{
	border: 1px solid transparent !important;
}
.tabelBox table tr td.pro_tag{
	height: auto;
	padding: 10px 20px;
	font-size: 15px;
	font-weight: 700;
	/* color: #fff; */
}
.tabelBox table tr td.pro_def{
	height: auto;
	padding: 0px 20px;
	font-size: 15px;
	font-weight: 400;
	/* color: #fff; */
}
.home .rows{
	display: flex;
	flex-wrap: wrap;
	/* margin-left: 15px;
	margin-right: 15px; */
	position: relative;
}
.home .home-info{
	flex: 0 0 50%;
	max-width: 50%;
} 
.home .home-img{
	flex: 0 0 40%;
	max-width: 40%;
	text-align: center;
	justify-content: center;
	position: relative;
	padding: 10px;
	border: 1px solid white;
	/* margin: 20px; */
}
.home .home-img img{
	margin: auto;
	border-radius: 5px;
	height: 400px;
	/* width: 100%; */
}
/* about */
.about{
	padding: 30px 30px !important;
	background-color: #000;
}
.about .about-content{
	flex: 0 0 100%;
	max-width: 100%;
}
.about .about-content .about-text{
	flex: 0 0 100%;
	max-width: 100%;
}
.about .about-content .about-text h3{
	font-size: 24px;
	/* margin-bottom: 15px; */
	font-weight: 700;
	color: #fff;
}
.about .about-content .about-text h3 span{
	color: var(--skin-color);
	position: sticky;
	top: 0;
}
.about .about-content .about-text .texPara{
	display: flex;
}
.about .about-content .about-text p{
	font-size: 16px;
	line-height: 25px;
	color: #040404;
	margin-bottom: 20px;
	margin-top: 10px;
	background-color: #f2f2f2;
	padding: 20px;
}
.about .about-content .education,
.about .about-content .experience{
	flex: 0 0 50%;
	max-width: 50%;
	margin-top: 30px;
}
.about .about-content h3.title{
	font-size: 24px;
	margin-bottom: 30px;
	font-weight: 700;
	color: var(--text-black-900);
}
.about .about-content .timeline-box{
	flex: 0 0 90%;
	max-width: 90%;

}
.about .about-content .timeline{
	background-color: var(--bg-black-100);
	padding: 30px 15px;
	border: 1px solid var(--bg-black-50);
	border-radius: 10px;
	width: 100%; 
	position: relative;  
}
.about .about-content .timeline .timeline-item{
	position: relative;
	padding-left: 37px;
	padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child{
	padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before{
	content: '';
	width: 1px;
	position: absolute;
	height: 100%;
	left: 7px;
	top: 0;
	background-color: var(--skin-color);
}
.about .about-content .timeline .circle-dot{
	position: absolute;
	left: 0;
	top: 0;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: var(--skin-color);
}
.about .about-content .timeline .timeline-date{
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 12px;
	color: var(--text-black-700);
}
.about .about-content .timeline .timeline-date  .fa{
	margin-right: 5px;
}
.about .about-content .timeline .timeline-title{
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 15px;
	text-transform: capitalize;
	color: var(--text-black-900);
}  
.about .about-content .timeline .timeline-text{
	line-height: 25px;
	font-size: 16px;
	text-align: justify;
	color: var(--text-black-700);
}
@media (max-width:991px){
	.home .home-info{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.home .home-img{
		/* display: none; */
	}
	.cover{
		flex-direction: column-reverse;
	}
	.home .home-img{
		flex: 0 0 100%;
		max-width: 100%;
		border: 1px solid white;
		/* margin: 20px; */
	}
    .rows{
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
	.about .about-content .about-text .texPara{
		display: flex;
		flex-direction: column;
	}
	.about .about-content .about-text .texPara img{		
		margin-bottom: 15px;
		width: 100%;
	}
	.imgBox img{
		width: 100%;

	}
	.about .about-content .about-text .texPara span{		
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
}

/* awards and nominations */
@media (max-width:767px){
	.contact .contact-form .col-6,
	.contact .contact-info-item,
	.service .service-item,
	.about .about-content .experience,
	.about .about-content .education,
	.about .about-content .skills,
	.about .about-content {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.rowss{
		margin-left: 5px !important;
	}
}
br{
	margin-bottom: -30px !important;
}
/* awards and nominations */