/* footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1px;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo {
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
    color: white;
}
footer p {
    font-size: 13px;
    color: #fff;
    margin:0 0 8px 0;
}
footer a {
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    text-transform: capitalize;
}
footer .follow {
    margin-top: 20px;
}
footer .follow i{
    color: #fff;
    padding-right: 4px;
    cursor: pointer;
    text-transform: capitalize;
}
footer .install .row img {
    border: 1px solid #fff;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;

}
footer .follow i{
    font-size: 20px;
}
footer .follow i:hover,
footer a:hover{
    color: #858383;
}
.copyright{
    border-top: 0 solid #e1e1e1;
    width: 100%;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    z-index: 999;
}
.copyright p{
    font-size: 15px;
    color: #fff;
}
.section-p1{
    padding: 40px 80px;
}
@media (max-width:799px) {
    .section-p1{
        padding: 40px 40px;
    }
}
@media (max-width:477px){
    .section-p1 {
        padding: 20px;
    }
}
/* footer */